body {
  font-family: Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  background-color: #f5f5f5;
}

/* Stile del container principale */
.container {
  margin: 0 auto;
  overflow-x: auto;
  padding: 0;
  background-color: #ffffff;
  margin-bottom: 20px;
  position: relative; 
}

/* Stile per le etichette */
label {
  display: block;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Stile per le sezioni di attività, alloggi e più economici */
.suggeriti,
.attivita,
.alloggi,
.per-prezzo {
  display: flex;
  margin-bottom: 20px;
  overflow-x: auto;
  position: relative;
}

/* Stile per i singoli card */
.card {
  margin-bottom: 20px;
  background-color: #ffffff;
  border-radius: 15px;
  margin-right: 10px;
  box-shadow: 7px 7px 5px #dedede;
  overflow: hidden;
}

/* Stile per le immagini all'interno dei card */
.card-img-top {
  width: 100%;
  height: auto;
  border-radius: 5px 5px 0 0;
}

/* Container valutazione attivita */
.rating {
  display: flex;
  width: 100%;
  justify-content: center;
  font-size: 50px;
  margin-top: 40px;
}