.barraricerca {
  padding: 10px;
}

.searchbar {
  border-radius: 20px;
  outline: none;
  border: 2px solid gray;
  width: 300px;
  padding: 5px 10px;
  font-size: 16px;
  transition: border 0.3s ease;
}

.searchbar:focus {
  border: 2px solid #00FF00;
}

.searchbar:hover {
  border: 2px solid #00FF00;
}

.filtericon {
  color: #00FF00;
}

.results {
  position: absolute;
  background-color: white;
  width: 300px;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  margin-top: 5px;
}

.risultato td {
  border-bottom: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  user-select: none;
  cursor: pointer;
  font-size: medium;
  transition: background-color 0.3s ease;
}

.risultato:hover {
  background-color: #f5f5f5;
}

.filter-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  padding: 10px;
  right: 450px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 20px;
  z-index: 3;
}

.filter-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-right: 5px;
}

.filter-item input[type="checkbox"] {
  margin-right: 10px;
  appearance: none;
  background-color: #fff;
  border: 2px solid #00FF00;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.filter-item input[type="checkbox"]:checked {
  background-color: #00FF00;
}

.filter-item input[type="checkbox"]:checked:after {
  content: '';
  position: absolute;
  left: 6px;
  top: 2px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}