
.input{
    max-width: 50%;
    max-height: 100%;
    font-size:medium;
    text-align: center ;
  
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px; 
  }
  .color1{
    background-color: aqua;
  }
  
  
  .mat-label{
    font-size:large;
  }
  
  .selezione{
  
    max-width:50%;
    max-height: 100%;
    font-size: medium;
    background-color:blue ;
  }
  
  .testo{
    text-align: center;
  
  
  }