.navContainer {
    display: flex;
    flex-direction: row;
    padding: 30px;
}

.title {
    transition: all 0.3s ease;
}

.title:hover,
.title:active {
    filter: brightness(90%);
}

.leftSide {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 70%;
    align-items: center;
    justify-content: center;
}

.searchbarContainer {
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: 70px;
}

.rightSide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 30%
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    font-size: 25px;
}

.iconContainer i {
    color: #00FF00;
}

.iconLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
    color: #00FF00;
    font-weight: bold;
    transition: all 0.3 ease;
}

.iconContainer a:hover,
.iconContainer a:active {
    filter: brightness(90%);
}

.icon-text {
    text-align: center;
    font-size: 14px;
    flex: auto;
    font-weight: 400;
}