.testo {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
      margin-left: 15%;
      margin-right: 15%;
      padding: 3%;
}

.titolo{
    font-size: 300%;
    text-align: center;
    background-size: cover;
    margin-top: 5%;

}