/* Container dettagli attivita */
.example-card {
    background-color: transparent;
    color: black;
    border: none;
    box-shadow: none;
}

.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:5px solid lightgreen;
    border-radius: 20px;
    box-shadow: 7px 7px 5px #dedede;
    padding: 15px;
}