form {
    display: flex;
    flex-direction: row;
    padding: 25px;
    padding-top: 0px;
}

.left {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.right {
    display: flex;
    flex-direction: row;
    width: 60%;
    padding-top: 30px;
}

.rating {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 50px;
    margin-bottom: 20px;
}

.questionario-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 15px;
    align-items: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
}

.title {
    display: flex;
    flex-direction: column;
}

.title p {
    flex: 1 1 auto;
    word-wrap: break-word;
}

.textarea-container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 93%;
    height: 100%;
}

.icon-container {
    position: absolute;
    bottom: 50px;
    right: 0;
    color: #32CD32;
    cursor: pointer;
}

.example-full-width {
    width: 93%;
  }


  .submit-button {
    color: white;
    background-color: #32CD32;
    width: fit-content;
    align-self: center;
    order: 2;
}

.submit-button:disabled {
    background-color: #cccccc; 
    color: #666666; 
  }
  
  input[type='radio'] {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    border: 3px solid gray;
}

input[type='radio']:before {
    content: '';
    display: block;
    width: 60%;
    height: 60%;
    margin: 20% auto;
    border-radius: 50%;
}

input[type="radio"]:checked:before {
    background: green;
    
}

input[type="radio"]:checked {
  border-color:green;
}

.icon-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: -47px; 
  }
  
  textarea {
    width: 100%;
    box-sizing: border-box;
  }

.snackbar-custom {
    background-color: #32CD32;
    color: white;
}