.mapContainer {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.mapContainer {
    position: relative;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

#mappa {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    z-index: 0;
}

.searchbar {
    border-radius: 20px;
    outline: none;
    border: 2px solid gray;
    width: 200px;
    padding: 5px 10px;
    font-size: 16px;
    transition: border 0.3s ease;
    margin-top: 30px;
}

.searchbar:focus {
    border: 2px solid #00FF00;
}

.searchbar:hover {
    border: 2px solid #00FF00;
}

.ricerca {
    position: absolute;
    top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    flex-direction: column;
    left: 30px;
}

.button-container {
    display: flex;
    justify-content: center;
}

.title {
    transition: all 0.3s ease;
}

.title:hover,
.title:active {
    filter: brightness(90%);
}