/* Container card valori-ecosostenibilita */
.example-card {
    background-color: transparent;
    color: black;
    border: none;
    box-shadow: none;
    margin-top: 40px;
    /* background-color: blue; */
}

/* Classe che viene assegnata all'header */
.card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: blueviolet; */
}

.lista-eco-container {
  background-color: rgba(221, 221, 221, 0.504);
  width: 100%;
  border: 5px solid lightgreen;
  max-width: 100%;
  border-radius: 20px;
  box-shadow: 7px 7px 5px #dedede;
  max-height: 200px;
  overflow: hidden;
}

/* Container lista valori-ecosostenibilita */
.lista-eco {
    overflow-y: auto;
    max-height: 200px;
    padding-bottom: 5px;
}
/* Elemento della lista */
mat-list-item {
    display: flex;
    width: 100%;
    display: flex;
    flex-wrap: wrap;;
}