table {
    border-collapse: separate;
    border-spacing: 2px 0;
}

p {
    transition: all 0.3s ease;
}

.pagecontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.contenitore {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 40%;
}

.tools {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.lefttools {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.righttools {
    width: 51.7%;
}

.create {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.searchbar {
    border-radius: 20px;
    outline: none;
    border: 2px solid gray;
    width: 100%;
    padding: 5px 10px;
    font-size: 16px;
    transition: border 0.3s ease;
    margin-top: 2px;
}

.searchbar:focus {
    border: 2px solid #00FF00;
}

.searchbar:hover {
    border: 2px solid #00FF00;
}

th {
    color: #00FF00;
    border: 2px solid gray;
    padding-bottom: 5px;
}

th,
td {
    border: 2px solid gray;
}

@media (max-width: 800px) {
    .lefttools p {
      display: none;
    }
  }