.toolbarContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
}

.searchbarContainer {
    width: 40%;
    margin-right: 25px;
}

.iconContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 25px;
    justify-content: flex-end;
}

.iconLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    flex-wrap: wrap;
    color: #00FF00;
    font-weight: bold;
}

.iconContainer i {
    color: #00FF00;
    margin-right: 15px;
    transition: all 0.3 ease;
}

.iconContainer a:hover, .iconContainer a:active {
    filter: brightness(90%);
}

.title {
    transition: all 0.3s ease;
}

.title:hover,
.title:active {
    filter: brightness(90%);
}